<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Profile Page</title>
</head>
<body>
  <div class= "container">

    <div class="jumbotron">
        <h1 class="display-4">Nivetha DOSS</h1>
        <div>
        <h2>Specilatization</h2>
          <p class="lead">PYTHON, JAVA, JAVASCRIPT, DATABASES, GIT, AWS, AGILE</p>
      </div>
        <hr class="my-4">
        <p>Experiences</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">About me</a>
        </p>
      </div>
</div>
</body>
</html>